# -*- conf -*-
[Unit]
Description=%i service with docker-compose
Requires=docker.service
After=docker.service
StartLimitIntervalSec=20
StartLimitBurst=3

[Service]
WorkingDirectory=/etc/default/docker-compose@%i
EnvironmentFile=/etc/default/docker-compose@%i/.env

ExecStartPre=-/usr/bin/docker-compose kill
ExecStartPre=-/usr/bin/docker-compose rm -fv
ExecStartPre=-/usr/bin/docker-compose down

ExecStart=/usr/bin/docker-compose up --force-recreate --abort-on-container-exit

ExecStop=/usr/bin/docker-compose stop
ExecStop=-/usr/bin/docker-compose rm -fv
ExecStop=-/usr/bin/docker-compose down

ExecReload=-/bin/sh -c "/usr/bin/docker-compose kill -s $${RELOAD_SIGNAL:-HUP}"

Restart=always
TimeoutStartSec=180s

[Install]
WantedBy=multi-user.target
